body {
  background-color: #f5f7fb;
  color: #55698f;
}

p {
  margin: 0;
}

.container {
  display: flex;
}

.sidebar {
  width: auto;
  height: auto;
}

.main-content {
  width: 100%;
  padding: 20px;
}
