.table-container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.table-container h2 {
  margin: 5px;
  color: #55698f;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 10px 10px 10px 20px;
  text-align: left;
  background-color: #f5f7fb;
  color: #99a2b3;
  cursor: default;
}

td {
  border-top: 1px solid #f4f4f6;
  border-bottom: 1px solid #f4f4f6;
  font-weight: 500;
  padding: 10px 10px 10px 20px;
}

tr {
  background-color: #fff;
}

tr:hover {
  background-color: #55698f;
  color: #fff;
  cursor: pointer;
}

.button-add {
  background-color: #55698f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.status-user {
  border-radius: 15px;
  width: 80px;
  text-align: center;
}

.active-user {
  background-color: #D2F1E7;
  color: #53CCA6;
}

.inactive-user {
  background-color: #FFE2E5;
  color: #B86D7B;
}
