.card-container {
  background-color: #fff;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 14px;
  box-sizing: border-box;
}
.card-icon-container {
  /* background: linear-gradient(rgb(102, 0, 255),rgb(158, 91, 216)); */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 0 0;
  margin-right: 10px; /* Espacio entre el icono y la información */
}

.card-icon-background {
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.card-info-container {
  display: flex;
  flex-direction: column;
}
.card-info-container p {
  margin: 0;
  color: #55698f;
}

/* COLORES DE FONDO PARA LOS ICONOS*/
.verde {
  background-color: #d7f5f4;
  color: #91bdb6;
}
.amarillo {
  background-color: #fbedd5;
  color: #eee079;
}
.azul {
  background-color: #d9eeff;
  color: #5b9bd4;
}
.rojo {
  background-color: #ffe7ed;
  color: #d77c98;
}
