.card-container{
    background-color: #313131;
    width: 240px;
    height: 100px;
    display: flex; /* Acomodar las tarjetas en forma horizontal */
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    box-sizing: border-box;
    margin-left: 15px;
}
.card-icon-container{
   background: linear-gradient(rgb(102, 0, 255),rgb(158, 91, 216));
   width: 70px;
   height: 70px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 15px 0 0;
   margin-right: 10px; /* Espacio entre el icono y la información */
}

.card-info-container {
    width: 120px;
    display: flex;
    flex-direction: column;
}
.card-info-container p{
    margin: 5px 0;
    color: #fff;
    flex: 1; /* Distribuir el espacio horizontalmente */
}

.menu-lista-tarjetas {
    display: flex;
    width: auto;
}