.usuarios-menu-lista-tarjetas{ 
    margin-bottom: 40px;
    display: flex;
    width: auto;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    border-radius: 14px;    
}
